[submodule "submodules/asttokens"]
	path = submodules/asttokens
	url = https://github.com/gristlabs/asttokens.git
	branch = v2.4.1
[submodule "submodules/icontract"]
	path = submodules/icontract
	url = https://github.com/Parquery/icontract.git
	branch = v2.6.6
[submodule "submodules/acbotics_interface"]
	path = submodules/acbotics_interface
	url = https://github.com/Acbotics-Public/acbotics_interface.git
